<.form let={f} for={@changeset} action={@action}>

 <%= if @changeset.action do %>

 <div class="alert alert-danger">
 <p>Oops, something went wrong! Please check the errors below.</p>
 </div>
 <% end %>
 <%= label f, :search %>
 <%= text_input f, :search, style: "border: 2px solid black;" %>
 <%= error_tag f, :search %>
 <div>
 <%= submit "search" %>
 </div>
</.form>
